# Ignorar entorno virtual
venv/
env/


# Ignorar archivos de configuración y credenciales
.env
.env.local
*.pyc
__pycache__/

# Ignorar logs y caché
*.log
logs/
cache/

# Ignorar dependencias si se instalan localmente
pip-wheel-metadata/
pip-log.txt
.DS_Store